* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins Bold", "Poppins", sans-serif;
}

@media  screen and (min-width: 406px) {

    main {
        width: 100%;
    }
    
header {
    padding-top: 30px;
    text-align: center;
    display: flex;
} 
#menuToggle {
    margin: 0;
    padding: 0;
    background: #FFFFFF;
    color: #cdcdcd;
    font-family: "avenir Next", "Avenir", sans-serif;
}
    a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
}
    a:hover {
        color: green;
    }
    #menuToggle {
        display: block;
        position: relative;
        top: 20px;
        left: 20px;
        z-index: 1;
        user-select: none;
    }

    #menuToggle input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
    }
    #menuToggle span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        backgroud: #cdcdcd;
        border-radius: 3px;
        z-index: 1;
        trasform-origin: 4px 0px;
        trasition: trasform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
            background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
            opacity 0.55s ease;
    }
    #menuToggle span:first-child {
        transform-origin: 0% 0%;
    }
    #menuToggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }
    #menuToggle input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate( -2px, -1px);
        background: #232323;
    }
#menuToggle input:checked ~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2,0.2);
}
    #menuToggle input:checked ~span:nth-last-child(2){
        transform: rotate(-45deg) translate(0, -1px);
    }
    #menu {
        position: relative;
        width: 200px;
        margin: -100px 0 0 -50px;
        padding: 50px;
        padding-top: 125px;
        background: #ededed;
        list-style-type: none;
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
    #menu li
    {
        padding: 10px 0;
        font-size: 22px;
    }
    #menuToggle input:checked ~ul{
        transform: none;
    }
        
    
        

#burgue{
    width: 50px;
    height: 30px;
    padding: 2px 2px 2px 2px;
    margin-top: -20px;
    margin-left: 20px;
}

.MF{
    width: 60px;
    height: 50px;
    margin-left: 5px;
    margin-top: -20px;
    margin-bottom: 20px;
}

.PERFIL{
    width: 5px;
    height: 5px;
    padding: 2px 2px 2px 2px;
    box-sizing: border-box;
    
  }

div{
    border: #000 solid 2px;
}

.mc {
    width: 414px;
    height: 647px;
    background-image: url("../imagens/mulher\ segurando\ caixa.jpg");
    background-size: auto;
    background-repeat: no-repeat;
    margin: 5px;
    padding: 0px;
    border: #000 solid 2px;
}

.futury{
    font-family: "Montserrat Bold", "Montserrat", "Montserrat", sans-serif;
    font-weight: 700;
    color: #ffffff;
    text-align: left;
    line-height: normal;
    padding-top: 340px;
    margin-left: 10px;
}

.morady{
    font-family: "Montserrat SemiBold", "Montserrat", "Montserrat", sans-serif;
    font-weight: 600;
    color: #ffffff;
    text-align: left;
    line-height: normal;
    margin-bottom: -50px;
    margin-left: 28px;
}

.vaga{
    font-family: "Montserrat SemiBold", "Montserrat", "Montserrat", sans-serif;
    font-weight: 600;
    color: #ffffff;
    text-align: right;
    line-height: normal;
    margin-top: 35px;
    margin-right: 195px;
}

.linha-branca{
    width: 85px;
    border-color: #ffffff;
    margin: 0 auto;
    border-width: 2px;
    margin-left: 12px;
    margin-top: 5px;
}

.retangulo1{
    width: 368px;
    height: 82px;
    padding: 2px 2px 2px 2px;
    border: 1px solid #d7d7d7;
    background-color: #ffffff;
    margin-left: 20px;
    margin-top: -2.5px;
    display: flex;
    align-items: center;
}
.img1 {
        width: 18px;
        height: 24px;
        padding: 2px 2px 2px 2px;
    }

    .city {
        width: 34px;
        height: 15px;
        background-color: rgba(255, 255, 255, 0);
        font-family: "Poppins", sans-serif;
        color: #333333;
        text-align: left;
        line-height: normal;
    }

    .busque-city{
        height: 15px;
        background-color: rgba(255, 255, 255, 0);
        font-family: "Montserrat", sans-serif;
        color: #7f7f7f;
        text-align: left;
        line-height: normal;
        transform: translate(-30px, 20px);
    }

.retangulo2{
    width: 368px;
    height: 82px;
    padding: 2px 2px 2px 2px;
    border: 1px solid #d7d7d7;
    background-color: #ffffff;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

 .img2{
        width: 27px;
        height: 24px;
        padding: 2px 2px 2px 2px;
    }

    .bairry{
        width: 29px;
        height: 15px;
        background-color: rgba(255, 255, 255, 0);
        font-family: "Poppins", sans-serif;
        color: #333333;
        text-align: left;
        line-height: normal;
    }

    .busque-bairry{
        height: 15px;
        background-color: rgba(255, 255, 255, 0);
        font-family: "Montserrat", sans-serif;
        color: #7f7f7f;
        text-align: left;
        line-height: normal;
        transform: translate(-30px, 20px);
    }


.retangulo3{
    width: 368px;
    height: 82px;
    padding: 2px 2px 2px 2px;
    border: 1px solid #d7d7d7;
    background-color: #ffffff;
    margin-left: 20px;
    display: flex;
    align-items: center;
}
    
.img3{
        width: 13px;
        height: 26px;
        padding: 2px 2px 2px 2px;
    }

    .alugue{
        height: 15px;
        background-color: rgba(255, 255, 255, 0);
        font-family: "Poppins", sans-serif;
        color: #333333;
        text-align: left;
        line-height: normal;
    }

    .escolher-dinhe{
        height: 15px;
        background-color: rgba(255, 255, 255, 0);
        font-family: "Montserrat", sans-serif;
        color: #7f7f7f;
        text-align: left;
        line-height: normal;
        transform: translate(-80px, 20px);
    }

    .cetinha{
        width: 15px;
        height: 10px;
        padding: 2px 2px 2px 2px;
        transform: translate(-80px, 20px);
    }
    
    .verde{
        width: 376px;
        height: 260px;
        padding: 2px 2px 2px 2px;
        border-radius: 1px;
        background-color: #63a103;
        margin-left: 40px;
      }

      .buscar{
            width: 86px;
            height: 21px;
            padding: 2px 2px 2px 2px;
            border: 1px solid #d7d7d7;
            background-color: #ffffff;
            font-family: "Montserrat", sans-serif;
            color: #333333;
            text-align: center;
            line-height: normal;
            margin-left: 60px;
            margin-top: 49px;
      }

      .explo {
        font-family: "Poppins SemiBold", "Poppins", sans-serif;
        font-weight: 600;
        color: rgba(255, 255, 255, 0.98);
        line-height: normal;
        text-align: center;
        text-align: justify;
      }
      
      .facil {
        border: 1px solid rgba(121, 121, 121, 0);
        font-family: "Poppins", sans-serif;
        color: #ffffff;
        text-align: center;
        font-size: 16px;
        line-height: normal;
      }
      

      .Começe {
        width: 235px;
        height: 29px;
        padding: 2px 2px 2px 2px;
        background-color: #ffffff;
        font-family: "Poppins", sans-serif;
        text-align: center;
        line-height: normal;
        margin-left: 70px;
      }

      .pessoa{
            width: 376px;
            height: 470px;
            margin: 0 auto;
            display: block;
            margin-left: 40px;
      }

      .dista{
            width: 360px;
            height: 38px;
            background-color: rgba(255, 255, 255, 0);
            font-family: "Poppins Medium", "Poppins", sans-serif;
            font-weight: 500;
            color: #000000;
            text-align: center;
            line-height: normal;
            margin: auto;
      }

      .linha-verde {
        width: 134px;
        border-color: #63a103;
        margin: 0 auto;
        border-width: 2px;
      }
      
      .casal {
            display: flex;         
            width: 379px;
            height: 279px;
            border-radius: 6px;
            margin: auto;
            align-items: center;
            justify-content: center;
      }

      .localiza {
            font-family: "Poppins SemiBold", "Poppins", sans-serif;
            font-weight: 600;
            color: #333333;
            text-align: left;
            line-height: normal;
            align-items: center;
      }

      .investe{
            font-family: "Poppins", sans-serif;
            color: rgba(51, 51, 51, 0.91);
            text-align: center;
            line-height: normal;
            align-items: center;
      }
      
      .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      
      .caixa1 {
        width: 39px;
        height: 38px;
        background-color: #ffffff;
        float: left; 
    }
    
    .caixa2 {
        width: 39px;
        height: 38px;
        background-color: #ffffff;
        float: right; 
    }
    
    .bola {
        width: 11px;
        height: 11px; 
        clear: both; 
        margin: 0 auto;
    }

    .grafic1 {
        height: 30px;
        margin: 0 auto;
        margin-left: 4px;
  }

  .grafic2{
        height: 30px;
        margin: 0 auto;
        margin-left: 399px;
        margin-top: -110px;
  }

  .texto1{
        font-family: "Montserrat Bold", "Montserrat", sans-serif;
        font-weight: 700;
        color: rgba(0, 0, 0, 0.89);
        text-align: center;
        line-height: normal;
        display: block;
        justify-items: left;
        margin-bottom: 4px;
  }

  .texto2{
    font-family: "Montserrat SemiBold", "Montserrat", sans-serif;
    font-weight: 600;
    color: rgba(51, 51, 51, 0.98);
    text-align: center;
    line-height: normal;
    display: block;
    justify-items: left;
}

        .mulher-celu {
            width: 379px;
            height: 279px;
            border-radius: 6px;
            background-image: url(../imagens/mulher\ no\ telefone.jpg);
            margin: auto;
          }

        .anuncia{
                width: 183px;
                height: 84px;
                background-color: rgba(255, 255, 255, 0);
                font-family: "Poppins SemiBold", "Poppins", sans-serif;
                font-weight: 600;
                color: #ffffff;
                text-align: left;
                line-height: normal;
                text-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.99);
        }

        .pr{
                width: 369px;
                height: 59px;
                background-color: rgba(255, 255, 255, 0);
                font-family: "Poppins Medium", "Poppins", sans-serif;
                font-weight: 500;
                color: #000000;
                text-align: center;
                line-height: normal;
                margin: auto;
        }

        .anun{
                text-align: center;
                width: 240px;
                height: 20px;
                padding: 10px 20px 30px 40px;
                color: rgba(255, 255, 255, 0.8);
                font-family: "Poppins", sans-serif;
                margin: auto;
                display: block;
                text-align: center;
                font-size: 19px;
                background-color: rgba(3, 136, 16, 0.8);
                margin-right: center;
        }

        .desbloquei{
            height: 43px;
            background-color: rgba(255, 255, 255, 0);
            box-sizing: border-box;
            font-family: "Poppins Medium", "Poppins", sans-serif;
            font-weight: 500;
            color: #000000;
            text-align: center;
            line-height: normal;
            margin: auto;
          }
          
          .premium{
            width: 199px;
            height: 24px;
            background-color: rgba(255, 255, 255, 0);
            box-sizing: border-box;
            font-family: "Poppins Medium", "Poppins", sans-serif;
            font-weight: 500;
            color: #63a103;
            text-align: left;
            line-height: normal;
            margin: auto;
          }
          
          .quadrado1 {
            width: 316px;
            height: 325px;
            padding: 2px 2px 2px 2px;
            border: 2px solid #aaaaaa;
            background-color: rgba(99, 161, 3, 0);
            box-sizing: border-box;
            margin: auto;
          }
          .quadrado2{
            width: 316px;
            height: 335px;
            padding: 2px 2px 2px 2px;
            border: 2px solid #aaaaaa;
            background-color: rgba(215, 215, 215, 0);
            box-sizing: border-box;
            margin: auto;
          }
          
          .planos1{
          height: 18px;
          background-color: rgba(255, 255, 255, 0);
          box-sizing: border-box;
          font-family: "Poppins Medium", "Poppins", sans-serif;
          font-weight: 500;
          color: #7f7f7f;
          text-align: center;
          line-height: 18px;
          }
          
          .t90{
          height: 30px;
          background-color: rgba(255, 255, 255, 0);
          box-sizing: border-box;
          font-family: "Poppins", sans-serif;
          font-weight: bold;
          color: #333333;
          text-align: center; 
          display: flex; 
          align-items: center; 
          line-height: normal; 
          }
          
          .premium1{
          width: 142px;
          height: 18px;
          background-color: rgba(255, 255, 255, 0);
          box-sizing: border-box;
          font-family: "Poppins Medium", "Poppins", sans-serif;
          font-weight: 500;
          color: #63a103;
          text-align: center;
          line-height: 18px;
          }
          
          .promoção{
          width: 275px;
          height: 35px;
          background-color: rgba(255, 255, 255, 0);
          box-sizing: border-box;
          font-family: "Poppins SemiBold", "Poppins", sans-serif;
          font-weight: 600;
          color: #333333;
          text-align: center;
          line-height: 18px;
          }
          
          .desconto{
          width: 280px;
          height: 35px;
          background-color: rgba(255, 255, 255, 0);
          box-sizing: border-box;
          font-family: "Poppins", sans-serif;
          font-weight: bold;
          color: #333333;
          text-align: center;
          line-height: 18px;
          }
          
          .moradia-l{
          width: 256px;
          height: 35px;
          background-color: rgba(255, 255, 255, 0);
          box-sizing: border-box;
          font-family: "Poppins SemiBold", "Poppins", sans-serif;
          font-weight: 600;
          color: #333333;
          text-align: center;
          line-height: 18px;
          }
          
          .planos2{
          height: 18px;
          background-color: rgba(255, 255, 255, 0);
          box-sizing: border-box;
          font-family: "Poppins Medium", "Poppins", sans-serif;
          font-weight: 500;
          color: #7f7f7f;
          text-align: center;
          line-height: 18px;
          }
          
          .premium2{
          width: 161px;
          height: 18px;
          background-color: rgba(255, 255, 255, 0);
          box-sizing: border-box;
          font-family: "Poppins Medium", "Poppins", sans-serif;
          font-weight: 500;
          color: #63a103;
          text-align: center;
          line-height: 18px;
          }
          
          .configura {
          width: 278px;
          height: 35px;
          background-color: rgba(255, 255, 255, 0);
          box-sizing: border-box;
          font-family: "Poppins SemiBold", "Poppins", sans-serif;
          font-weight: 600;
          color: #333333;
          text-align: center;
          line-height: 18px;
          }
          
          .possibilidades {
          width: 280px;
          height: 48px;
          background-color: rgba(255, 255, 255, 0);
          box-sizing: border-box;
          font-family: "Poppins SemiBold", "Poppins", sans-serif;
          font-weight: 600;
          color: #333333;
          text-align: center;
          line-height: 18px;
          }
          
          .emprego-premium {
          width: 256px;
          height: 32px;
          background-color: rgba(255, 255, 255, 0);
          box-sizing: border-box;
          font-family: "Poppins SemiBold", "Poppins", sans-serif;
          font-weight: 600;
          color: #333333;
          text-align: center;
          line-height: 18px; 
          }
          
          .cinza{
          width: 316px;
          height: 47px;
          padding: 2px 2px 2px 2px;
          background-color: #d7d7d7;
          box-sizing: border-box;
          display: flex;
          align-items: center;
          margin: 0 auto;
          }
          
          .detalhes {
          box-sizing: border-box;
          font-family: "Poppins Medium", "Poppins", sans-serif;
          font-weight: 500;
          color: #7f7f7f;
          text-align: left;
          line-height: normal;
          margin: 0 auto;
          align-items: center;
          font-size: 16px;
          }
          
          .ceta {
          padding: 2px 2px 2px 2px;
          box-sizing: border-box;
          margin: 0 auto;
          }
          
          .detalhe {
          box-sizing: border-box;
          font-family: "Poppins Medium", "Poppins", sans-serif;
          font-weight: 500;
          color: #7f7f7f;
          text-align: left;
          line-height: normal;
          margin: auto;
          font-size: 16px;
          }
          
          .ceta2 {
          padding: 2px 2px 2px 2px;
          box-sizing: border-box;
          margin: auto;
          }
            

        .futuro{
                width: 397px;
                height: 51px;
                background-color: rgba(255, 255, 255, 0);
                font-family: "Poppins Medium", "Poppins", sans-serif;
                font-weight: 500;
                color: #000000;
                text-align: center;
                line-height: normal;
                margin: auto;
        }
   
    .footer1 {
        background-color: rgba(99, 161, 3, 0.11);
        padding: 5px 10px;
    }

    .footer ul {
        margin-bottom: 20px;
    }

    .negrito {
        font-weight: 700;
    }

   .footer1 li {
        margin: 10px 0;
        list-style-type: none;
    }

    .footer1 h4 {
        color: rgb(44, 78, 172);
    }

    .facil {
        font-weight: bolder;
    }

    .footer {
        margin: 10px;
        font-size: 15px;
        columns: 2;
        list-style-type: none;
    }

    .footer li {
        margin-bottom: 20px;
    }

}
