body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color: #28a745; /* Azul */
  color: #fff;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  margin: 0;
  font-size: 2em;
}

section {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-info {
  border-left: 5px solid #28a745; /* Verde */
}

.plans {
  border-left: 5px solid #007bff; /* Azul */
}

.listing {
  border-left: 5px solid #28a745; /* Verde */
}

h2 {
  color: #007bff; /* Azul */
  font-size: 1.5em;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

label {
  margin-bottom: 5px;
  font-weight: 600;
  color: #333;
}

input, textarea, select {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 100%;
  box-sizing: border-box;
}

input::placeholder, textarea::placeholder {
  color: #6c757d;
}

textarea {
  resize: vertical;
}

button {
  background-color: #28a745; /* Verde */
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  align-self: flex-start;
}

button:hover {
  background-color: #218838; /* Verde escuro */
}
