<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Migra Fácil - Crie sua conta</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simples-notify@0.5.5/dist/simples-notify.min.css" /> 
</head>
<body>
  <section class="container">
    <section class="form-container">
      <img src="imagens/image2.png" alt="Logo Migra Fácil" class="logo"> 
      <p>Crie sua conta!</p>
      <form>
        <label>
        <input type="radio" name="tipoPessoa" value="fisica" onclick="mudarCampo()"> Pessoa Física
        </label>
        <label>
        <input type="radio" name="tipoPessoa" value="juridica" onclick="mudarCampo()"> Pessoa Jurídica
        </label>
        </form>
        <% 
        let msgErro = "";
        let avisoErro = {"nome":"", "senha":"", "email":"",};
        if(listaErros){
            listaErros.errors.forEach(function(itemErro){
                if(itemErro.path == "nome"){
                    avisoErro.nome = "erro";
                    msgErro += `* ${itemErro.msg} <br>`;
                }
                if(itemErro.path == "senha"){
                    avisoErro.senha = "erro";
                    msgErro += `* ${itemErro.msg} <br>`;
                }
                if(itemErro.path == "email"){
                    avisoErro.email = "erro";
                    msgErro += `* ${itemErro.msg} <br>`;
                }
                if(itemErro.path == "email"){
                  avisoErro.email = "erro";
                  msgErro += `* ${itemErro.msg} <br>`;
              }
            })        

            %>
            <script>
                    let msgErro ="<%= msgErro %>"
                    notify("Erro(s) no preenchimento","Verifique o(s) campo(s) <br>  " + msgErro.replace(/&lt;/g,"<").replace(/&gt;/g,">"), "error", "center", 5000)                        
                </script>
            <%
            }
        }
        %>
      <form id="registration-form" method="post" action="/cadastro">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" placeholder="Digite seu Nome"  required data-error="Preencha este campo." class="<%= avisoErro.nome %>>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="Digite seu Email" required data-error="Preencha este campo." class="<%= avisoErro.email %>">
        <label id="labelDocumento" for="documento">CNPJ:</label>
        <input type="text" id="documento" placeholder="Digite seu CNPJ">
        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha" placeholder="Digite sua Senha"  required data-error="Preencha este campo." onfocus="showPasswordCriteria()" onblur="hidePasswordCriteria()" class="<%= avisoErro.senha %>">
        <div id="password-requirements-box">
          <ul id="password-requirements">
            <li id="length" class="invalid">8 à 10 caracteres</li>
            <li id="lowercase" class="invalid">Letra minúscula</li>
            <li id="uppercase" class="invalid">Letra maiúscula</li>
            <li id="number" class="invalid">Número</li>
            <li id="symbol" class="invalid">Símbolo (Ex: !@#%$)</li>
          </ul>
        </div>
        <label for="confirmar-senha">Confirmar Senha:</label>
        <input type="password" id="confirmar-senha" name="confirmar-senha"  placeholder="Confirme sua Senha" required data-error="Preencha este campo.">
        <button type="submit">Cadastre-se</button>
        <hr> 
        <p>Já possui uma conta? <a href="/login">Entrar</a></p>
      </form>
    </section>
  </section>
  <script>
    function mudarCampo() {
        const tipoPessoa = document.querySelector('input[name="tipoPessoa"]:checked').value;
        const label = document.getElementById("labelDocumento");
        const input = document.getElementById("documento");
        if (tipoPessoa === "fisica") {
            label.textContent = "CPF:";
            input.placeholder = "Digite seu CPF";
        } else {
            label.textContent = "CNPJ:";
            input.placeholder = "Digite seu CNPJ";
        }
    }
</script>
  <script src="/js/cadastro.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/simples-notify@0.5.5/dist/simples-notify.min.js"></script>
</body>
</html>