<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Migra Fácil - Crie sua conta</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/simple-notify@1.0.4/dist/simple-notify.min.js"></script>
  <script src="/js/cadastrocnpj.js"></script>
  <style>
    #password-requirements-box {
      display: none;
      background-color: #f9f9f9;
      border: 1px solid #ccc;
      padding: 10px;
      border-radius: 5px;
      margin-top: 5px;
      width: 92%;
      text-align: left;
    }

    #password-requirements {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    #password-requirements li {
      font-size: 0.9em;
    }

    #password-requirements li.valid {
      color: green;
    }

    #password-requirements li.invalid {
      color: red;
    }

    .spacer {
      margin-top: 20px; 
    }

    .back-button {
      font-size: 24px;
      color: #28a745; 
      cursor: pointer;
      text-decoration: none;
      margin-right: 10px; 
      vertical-align: middle; 
    }

    .logo-container {
      display: flex;
      align-items: center; 
    }
  </style>
</head>
<body>
  <section class="container">
    <section class="form-container">
      <div class="logo-container">
        <a href="/login" class="back-button"><i class="fas fa-arrow-left"></i></a>
        <img src="imagens/image2.png" alt="Logo Migra Fácil" class="logo"> 
      </div>
      <p>Empresa crie sua conta!</p>
      <% 
      let msgErro = "";
      let avisoErro = {"nome":"", "senha":"", "email":"", "cnpj":""};
      if(listaErros){
          listaErros.errors.forEach(function(itemErro){
              if(itemErro.path == "nome"){
                  avisoErro.nome = "erro";
                  msgErro += `* ${itemErro.msg} <br>`;
              }
              if(itemErro.path == "senha"){
                  avisoErro.senha = "erro";
                  msgErro += `* ${itemErro.msg} <br>`;
              }
              if(itemErro.path == "email"){
                  avisoErro.email = "erro";
                  msgErro += `* ${itemErro.msg} <br>`;
              }
              if(itemErro.path == "cnpj"){
                  avisoErro.cnpj = "erro";
                  msgErro += `* ${itemErro.msg} <br>`;
              }
          })        
          if(msgErro != ""){
          %>
          <script>
              let msgErro = "<%= msgErro %>"
              notify("Erro(s) no preenchimento", "Verifique o(s) campo(s) <br>  " + msgErro.replace(/&lt;/g, "<").replace(/&gt;/g, ">"), "error", "center", 5000)                        
          </script>
          <%
          }
      }
      %>
      <form id="registration-form" method="post" action="/cnpj">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required data-error="Preencha este campo.">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required data-error="Preencha este campo.">
        <label for="cnpj">CNPJ:</label>
        <input type="text" id="cnpj" name="cnpj" required data-error="Preencha este campo." oninput="formatCNPJ(this)">
        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha" required data-error="Preencha este campo." onfocus="showPasswordCriteria()" onblur="hidePasswordCriteria()">
        
        <div id="password-requirements-box">
          <ul id="password-requirements">
            <li id="length" class="invalid">8 à 10 caracteres</li>
            <li id="lowercase" class="invalid">Letra minúscula</li>
            <li id="uppercase" class="invalid">Letra maiúscula</li>
            <li id="number" class="invalid">Número</li>
            <li id="symbol" class="invalid">Símbolo (Ex: !@#%$)</li>
          </ul>
        </div>

        <label for="confirmar-senha">Confirmar Senha:</label>
        <input type="password" id="confirmar-senha" name="confirmar-senha" required data-error="Preencha este campo.">
        <label for="imobiliaria">
          <input type="checkbox" value="3" id="imobiliaria" name="imobiliaria" style="margin-right: 5px;"><span>Sou imobiliaria</span>
        </label>
        <button type="submit">Cadastre-se</button>
        <hr> 
        <p>Já possui uma conta? <a href="/login">Entrar</a></p>
      </form>
    </section>
    <script>
      function formatCNPJ(input) {
        let value = input.value.replace(/\D/g, '');
        if (value.length <= 14) {
            value = value.replace(/^(\d{2})(\d)/, '$1.$2');
            value = value.replace(/^(\d{2})\.(\d{3})(\d)/, '$1.$2.$3');
            value = value.replace(/\.(\d{3})(\d)/, '.$1/$2');
            value = value.replace(/(\d{4})(\d)/, '$1-$2');
        }
        input.value = value;
      }

      function showPasswordCriteria() {
        document.getElementById('password-requirements-box').style.display = 'block';
      }

      function hidePasswordCriteria() {
        document.getElementById('password-requirements-box').style.display = 'none';
      }
    </script>
  </section>
</body>
</html>
