<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Auxiliar Administrativo</title>
  <link rel="stylesheet" href="/app/public/css/detalhesemprego.css">
  <link rel="shortcut icon" type="imagex/png" href="/imagens/lgaba.ico">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
  <header>
    <img src="../imagens/logo.png" alt="logo" class="logo">
    <nav>
      <ul>
        <li><a href="#">Procurar por</a>
          <section class="sub-menu-1">
            <ul>
              <li><a href="#">Procurar por imóveis</a></li>
              <li><a href="#">Procurar por vagas</a></li>
            </ul>
          </section>
        </li>
        <li><a href="#">Anunciar</a>
          <section class="sub-menu-1">
            <ul>
              <li><a href="#">Anunciar meu imóvel</a></li>
              <li><a href="#">Anunciar minhas vagas</a></li>
            </ul>
          </section>
        </li>
        <li><a href="#">Sobre nós</a></li>
        <li><a href="#">Entrar</a></li>
      </ul>
    </nav>
  </header>

  <section class="container">
    <section class="job-header bordered">
      <h1>Auxiliar Administrativo - São Paulo</h1>
      <span>Presencial - Meio Período</span>
    </section>
    <p class="bordered">Local: Osasco, São Paulo, Brasil</p>
    <p class="bordered">Publicado há 1 dia - 05 candidaturas</p>
    <section class="job-info bordered">
      <p><strong>Competências:</strong> Noção de Administração, Comunicação, e mais 5</p>
    </section>
    <section class="apply">
      <button>Candidatar-se</button>
      <button class="button-secondary">Salvar</button>
    </section>
    <section class="competencies bordered">
      <h2>Sobre a Vaga</h2>
      <p><strong>Descrição do Trabalho:</strong></p>
      <p>Que tal entrar para o nosso #TimedeCampeões?</p>
      <p>Aqui é lugar de gente que tem sede de vitória, é apaixonado por esporte, acredita no trabalho em equipe e está disposto a correr junto com os nossos clientes.</p>
      <p>Se você é uma pessoa organizada, tem senso de espaço e um bom olhar para entender as necessidades da loja, essa posição é para você. Você vai garantir que tudo esteja impecável, ajudando no atendimento ao estoque, deixando nossos clientes super satisfeitos.</p>
    </section>
    <section class="bordered">
      <h2>Requisitos e qualificações</h2>
      <p>Você precisa ter:</p>
      <ul>
        <li>Ensino Médio completo</li>
        <li>Boa comunicação</li>
        <li>Vontade de aprender e sede de crescimento</li>
        <li>Ter pacote Office completo</li>
        <li>Saber usar planilhas em geral</li>
        <li>Saber usar computadores e impressoras</li>
      </ul>
    </section>
  </section>

  <footer>
    <section id="footer_content">
        <img src="/imagens/logo.png" alt="Logo Migra" class="footer-logo">
        <p>Transformando mudanças em oportunidades.</p>
        <section class="social-media">
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#"><i class="fa-brands fa-tiktok"></i></a>
        </section>
        <ul class="footer-links">
            <li><a href="#">Cadastra-se</a></li>
            <li><a href="#">Ajuda</a></li>
            <li><a href="#">Sobre</a></li>
            <li><a href="#">Segurança no Migra Fácil</a></li>
        </ul>
        <section id="footer_copyright">
            &#169; 2024 All rights reserved.
        </section>
    </section>
</footer>
</body>
</html>
