<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Imóvel</title>
    <link rel="stylesheet" href="../css/detalhes.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <header class="navbar">
        <div class="logo">
          <img src="/imagens/logo.png" alt="Logo" class="logo-img">
        </div>
        <nav class="nav-links">
          <a href="#">Procurar por</a>
          <a href="#">Anunciar</a>
          <a href="#">Sobre nós</a>
        </nav>
        <div class="search-container">
          <button type="submit">
            <img src="https://cdn-icons-png.flaticon.com/512/622/622669.png" alt="Lupa">
          </button>
          <input type="text" placeholder="Pesquisar...">
        </div>
        <div class="auth-buttons">
          <button class="criar-conta">Criar conta</button>
          <button class="entrar">Entrar</button>
        </div>
      </header>
    <main class="container">
        <section class="image-gallery">
            <button class="prev-btn">❮</button>
            <section class="carousel">
                <img src="/imagens/casaosaco1.webp" alt="Imagem 4" class="carousel-image">
                <img src="/imagens/casaosasco2.webp" alt="Imagem 1" class="carousel-image">
                <img src="/imagens/casaosaco3.webp" alt="Imagem 2" class="carousel-image">
                <img src="/imagens/casaosaco4.webp" alt="Imagem 3" class="carousel-image">
                <img src="/imagens/casaosaco5.webp" alt="Imagem 4" class="carousel-image">
            </section>
            <button class="next-btn">❯</button>
            <div class="container">
                <div class="property-info">
                    <div class="breadcrumb">Aluguel/SP/Casas para alugar em Osaco/Umuaram/Avenida Estados Unidos</div>
                    <div class="highlight">Destaque</div>
                    <h2 class="price">R$2.250/mês</h2>
                    <div class="details">
                        <span>166 m²</span> • 
                        <span>2 quartos</span> • 
                        <span>3 banheiro</span> • 
                        <span>2 vagas</span> •
                        <span>Aceita pet</span> 
                    </div>
                    <div class="address">Avenida Estados Unidos, 1 - Umuarama, Osasco - SP</div>
                    <h3>Casa com 2 Quartos e 3 banheiros para Alugar, 166 m² por R$ 2.250/Mês</h3>
                    <p>O imóvel está localizado no bairro Jardim D'Abril divisa com Umuarama possui 166 metros quadrados com 2 quartos, possibilidade de um terceiro, 2 banheiros, sala de jantar ampla, sala de estar, escritório, cozinha, dispensa, banheiro aconchegante, possui espaço gourmet, dois corredores laterais, não é germinada e duas vagas de garagem, podendo fazer uso para 3 carros a depender do tamanho..</p>
                    
                 <div class="box">
                    <h3 class="faz">Fale com o anunciante</h3>
                    <div class="contact-info">
                        <img src="/imagens/phoneicon.png" alt="Phone Icon" class="phone-icon">
                        <span class="phone-number">(15) 98179-<span id="hidden-part">....</span></span>
                        <a href="#" id="view-phone" class="view-phone">Ver telefone</a>
                    </div>
                
                    <div class="whatsapp-button">
                        <a href="#" class="whatsapp-link">
                            <img src="/imagens/icons8-whatsapp-48.png" alt="WhatsApp Icon" class="whatsapp-icon">
                            <span>WhatsApp</span>
                        </a>
                    </div>
                </div>
                <br><br>
          <div class="box-1">
            <div class="button-container">
              <a href="#" class="button" id="share-button">
                <i class="bi bi-share-fill"></i>
                Compartilhar
              </a>
        
              <a href="#" class="button" id="favorite-button">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                  <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/>
                </svg>
                Favoritar
            </a>
    <section class="imoveis-container">
      <h2>Imóveis com preço abaixo do mercado próximo a este</h2>
      <div class="imoveis-cards">
          <div class="card">
              <img src="/imagens/casanumero1.webp" alt="Parque São Paulo, Cotia">
              <div class="card-content">
                  <h3>Parque São Paulo, Cotia</h3>
                  <p>230 m² | 3 quartos | 2 banheiros</p>
                  <p>R$ 5.030</p>
                  <p>Aluguel R$ 4.700</p>
                  <div class="buttons">
                      <button class="mensagem">Mensagem</button>
                      <button class="telefone">Telefone</button>
                  </div>
              </div>
          </div>
          <div class="card">
              <img src="/imagens/casanumero2.jpeg" alt="Chácara do Refúgio, Carapicuíba">
              <div class="card-content">
                  <h3>Chácara do Refúgio, Carapicuíba</h3>
                  <p>325 m² | 4 quartos | 2 banheiros</p>
                  <p>A partir de R$ 7.420</p>
                  <p>Aluguel R$ 6.500</p>
                  <div class="buttons">
                      <button class="mensagem">Mensagem</button>
                      <button class="telefone">Telefone</button>
                  </div>
              </div>
          </div>
          <div class="card">
              <img src="/imagens/casabarueri1.webp" alt="Chácara dos Junqueiras, Carapicuíba">
              <div class="card-content">
                  <h3>Chácara dos Junqueiras, Carapicuíba</h3>
                  <p>450 m² | 5 quartos | 2 banheiros</p>
                  <p>A partir de R$ 10.450</p>
                  <p>Aluguel R$ 9.580</p>
                  <div class="buttons">
                      <button class="mensagem">Mensagem</button>
                      <button class="telefone">Telefone</button>
                  </div>
              </div>
          </div>
          <div class="card">
              <img src="/imagens/casaparavender1 - Copia.webp" alt="Aldeia da Fazendinha, Carapicuíba">
              <div class="card-content">
                  <h3>Aldeia da Fazendinha, Carapicuíba</h3>
                  <p>350 m² | 4 quartos | 3 banheiros</p>
                  <p>R$ 12.500</p>
                  <p>Aluguel R$ 12.500</p>
                  <div class="buttons">
                      <button class="mensagem">Mensagem</button>
                      <button class="telefone">Telefone</button>
                  </div>
              </div>
          </div>
      </div>
      <div class="pagination">
          <button>&lt;</button>
          <div class="dots">
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot active"></span>
          </div>
          <button>&gt;</button>
          
    <footer>
        <section id="footer_content">
            <img src="../imagens/logo.png" alt="Logo Migra" class="footer-logo">
            <p>Transformando mudanças em oportunidades.</p>
            <section class="social-media">
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-tiktok"></i></a>
            </section>
            <ul class="footer-links">
                <li><a href="#">Cadastra-se</a></li>
                <li><a href="#">Ajuda</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Segurança no Migra Fácil</a></li>
            </ul>
            <section id="footer_copyright">
                &#169; 2023 All rights reserved.
            </section>
        </section>
    </footer>
      </div>
  </section>
  <script src="../js/detalhes.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</main>
</body>
</html>