<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Imóvel</title>
    <link rel="stylesheet" href="/css/detalhes.css">
</head>
<body>
    <main class="container">
        <section class="left-column">
            <img src="imagens/casa1.jpg" alt="Imagem do Imóvel">
            <section class="property-details">
                <h1>Aluga-se</h1>
                <p class="price">Valor R$<br>2.500</p>
                <p class="location">
                    <span class="address">Avenida Presidente Altino, Jaguaré, São Paulo</span>
                    <span class="location-tag">Boa localização</span>
                </p>
                <section class="icons">
                    <section>
                        <img src="imagens/area.jpg" alt="Área">
                        <span>120m²</span>
                    </section>
                    <section>
                        <img src="imagens/cama.png" alt="Quartos">
                        <span>4 quartos</span>
                    </section>
                    <section>
                        <img src="imagens/banheira.png" alt="Banheiros">
                        <span>1 banheiro</span>
                    </section>
                    <section>
                        <img src="imagens/carro.png" alt="Vagas">
                        <span>1 vaga</span>
                    </section>
                    <section>
                        <img src="imagens/pet.png" alt="Pet">
                        <span>Aceita pet</span>
                    </section>
                </section>
                <section class="description">
                    <h2>Descrição do proprietário</h2>
                    <p>
                        Desfrute do conforto e tranquilidade nesta casa espaçosa de três quartos, localizada no encantador bairro Jardim das Vertentes, em São Paulo.
                    </p>
                    <p>
                        Área de lazer e vaga para um carro, esta casa é perfeita para sua família. Não perca esta oportunidade! Entre em contato para mais informações e agende sua visita.
                    </p>
                </section>
                <section class="items">
                    <h2>Itens disponíveis</h2>
                    <section class="items-list">
                        <section>
                            <ul>
                                <li>Armários na cozinha</li>
                                <li>Geladeira</li>
                                <li>Fogão</li>
                                <li>Armário no banheiro</li>
                                <li>Box</li>
                                <li>Portas nos quartos e banheiros</li>
                            </ul>
                        </section>
                        <section>
                            <ul>
                                <li>Guarda roupas</li>
                                <li>Chuveiro a gás</li>
                                <li>Piscina privativa</li>
                                <li>Apartamento cobertura</li>
                                <li>Banheira de hidromassagem</li>
                            </ul>
                        </section>
                    </section>
                </section>
            </section>
        </section>
        <section class="right-column">
            <section class="pricing">
                <h2>Aluguel</h2>
                <p>R$ 2.600</p>
                <h2>Condomínio</h2>
                <p>R$ 300</p>
                <h2>IPTU</h2>
                <p>R$ 100</p>
                <h2>Seguro incêndio</h2>
                <p>R$ 50</p>
                <h2>Taxa de serviço</h2>
                <p>R$ 50</p>
                <h2>Total</h2>
                <p>R$ 2.500</p>
            </section>
            <button class="btn">Agendar visita</button>
            <section class="contact">
                <h2>Anunciante:</h2>
                <p>Diana Rodrigues</p>
                <p>Número de telefone: 11990000000</button>
            </section>
            <section class="actions">
                <button class="btn favorite-btn" onclick="toggleFavorite(this)">&#x2661; Favoritar</button>
                <button class="btn">Compartilhar</button>
            </section>
        </section>
    </main>
    <script src="/js/detalhes.js"></script>
</body>
</html>
