<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Migra Fácil - Vagas de Emprego</title>
    <link rel="stylesheet" href="/css/emprego.css">
</head>
<body>
    <header>
        <a href="/">
            <img src="imagens/image2.png" alt="Migra Fácil" class="logo">
        </a>        
        <button class="menu-button"><a href="/filtrovagas">&#9776;</a></button>
    </header>
    <main>
        <section class="search-section">
            <h2>Que vaga você deseja?</h2>
            <form id="search-form">
                <input type="text" id="job-title" placeholder="Exemplo: auxiliar administrativo">
                <input type="text" id="location" placeholder="Estado/Cidade">
                <button type="button" onclick="searchJobs()">Procurar vagas</button>
            </form>
        </section>
        <section class="job-listings" id="job-listings">

            <%
            if(listavagas){
                listavagas.forEach(function(item){
            %>
            <div class="job-card">
                <h3><%= item.NomeCargo %></h3>
                <p class="salary">Salário: R$ <%= item.SALARIO %></p>
                <p class="location">Localização: <%= item.LOCALIZACAO %></p>
                <p class="description"><%= item.DescricaoVaga %></p>
                <button onclick="applyForJob('https://www.linkedin.com/jobs/view/4021535147?trk=li_JobRapido-LIBR_BR_careers_jobsgtm_9acc4371-6a56-4365-8141-56da4b817626_job-dist&amp;utm_medium=jobdist&amp;mcid=6864282706205925377&amp;utm_source=JobRapido-LIBR&amp;ePP=CwEAAAGSIXsKZg7ej8kBVrylghHBV9apfGpORDLtP4DzIotMQpag5pQDGZoX2D9oC5udw0GGvrn2_oBvTXBFKJ7XvCN_g_gveUroJSWV1g&amp;ccuid=56947444131&amp;original_referer=https%3A%2F%2Fclick.appcast.io%2F')">Quero me candidatar</button>
            </div>
<% })} %>
        </section>
        <section id="loading-spinner" class="loading-spinner"></section>
    </main>
    <!-- <script src="/js/emprego.js"></script> -->
</body>
</html>

