<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Migra Fácil - Vagas de Emprego</title>
    <link rel="stylesheet" href="/css/emprego.css">
</head>
<body>
    <header>
        <a href="/">
            <img src="imagens/image2.png" alt="Migra Fácil" class="logo">
        </a>        
        <button class="menu-button"><a href="/filtrovagas">&#9776;</button></a>
    </header>
    <main>
        <section class="search-section">
            <h2>Que vaga você deseja?</h2>
            <form id="search-form">
                <input type="text" id="job-title" placeholder="Exemplo: auxiliar administrativo">
                <input type="text" id="location" placeholder="Estado/Cidade">
                <button type="button" onclick="searchJobs()">Procurar vagas</button>
            </form>
        </section>
        <section class="job-listings" id="job-listings">
    
        </section>
        <div id="loading-spinner" class="loading-spinner"></div>
    </main>
    <script src="/js/emprego.js"></script>
</body>
</html>
