<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meus Favoritos</title>
    <link rel="stylesheet" href="/app/public/css/favoritos.css">
</head>
<body>
    <header>
        <img src ="/app/public/imagens/image2.png" alt="Logo Migra Fácil"> 
        <input type="text" placeholder="Busque no Migra Fácil">
    </header>
    <section class="container">
        <section class="titulo">
            <h2>Meus Favoritos</h2>
        </section>
        <section class="propriedades">
            <a href="#" class="cartao-propriedade">
                <section class="badge badge-novo">Anúncio novo</section>
                <section class="badge badge-preco">Ótimo preço</section>
                <img src="/app/public/imagens/Image.jpg" alt="Casa Jaguaré">
                <section class="detalhes">
                    <section class="localizacao">
                        <span>Avenida Presidente Altino<br>Jaguaré, São Paulo</span>
                        <span class="favorite-icon" onclick="toggleFavorite(this)">&#x2661;</span>
                    </section>
                    <section class="preco">R$ 2.600</section>
                    <section class="info">
                        <span>120m²</span>
                        <span>4 quartos</span>
                    </section>
                </section>
            </a>
           
            </a>
            <a href="#" class="cartao-propriedade">
                <section class="badge badge-novo">Anúncio novo</section>
                <section class="badge badge-preco">Ótimo preço</section>
                <img src="/app/public/imagens/Image3.jpg" alt="Apartamento República">
                <section class="detalhes">
                    <section class="localizacao">
                        <span>Rua Flores Freitas, Brasil<br>República, São Paulo</span>
                        <span class="favorite-icon" onclick="toggleFavorite(this)">&#x2661;</span>
                    </section>
                    <section class="preco">R$ 1.800</section>
                    <section class="info">
                        <span>65m²</span>
                        <span>1 quarto</span>
                    </section>
                </section>
            </a>
           
            </a>
            <a href="#" class="cartao-propriedade">
                <section class="badge badge-novo">Anúncio novo</section>
                <img src="/app/public/imagens/Image6.jpg" alt="Apartamento Cidade Monções">
                <section class="detalhes">
                    <section class="localizacao">
                        <span>Rua Francisco Branco<br>Cidade Monções, São Paulo</span>
                        <span class="favorite-icon" onclick="toggleFavorite(this)">&#x2661;</span>
                    </section>
                    <section class="preco">R$ 1.500</section>
                    <section class="info">
                        <span>58m²</span>
                        <span>2 quartos</span>
                    </section>
                </section>
            </a>
           
        </section>
    </section>

    <script src="/app/public/js/favoritos.js"></script>
</body>
</html>
