<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empregos</title>
    <link rel="stylesheet" href="../css/filtro.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
</head>

<body>

    <header>
        <img src="../assets/x.svg" alt="">
        <h3>Filtros</h3>
    </header>

    <nav>
        <p>Alugar</p>
        <p>Comprar</p>

        <button>Buscar</button>
    </nav>

    <main>

        <p>Valor do imovel</p>

        <label for="500">Minimo R$ 500</label>
        <input type="text" id="500" placeholder="R$">
        
        <label for="20">Máximo R$ 20.000</label>
        <input type="text" id="20" placeholder="R$">

        <p>Tipos de imóvel</p>

        <label>
            <input type="checkbox" name="" id=""> Apartamento
        </label>

        <label>
            <input type="checkbox" name="" id=""> Casa
        </label>

        <label>
            <input type="checkbox" name="" id=""> Casa de condomínio
        </label>

        <label>
            <input type="checkbox" name="" id=""> Kitnet / Studio
        </label>

        <section>
            <p>Quartos</p>

            <label class="custom-label">
                +1
                <input type="radio" name="room-filter" value="+1">
            </label>

            <label class="custom-label">
                +2
                <input type="radio" name="room-filter" value="+2">
            </label>

            <label class="custom-label">
                +3
                <input type="radio" name="room-filter" value="+3">
            </label>

            <label class="custom-label">
                +4
                <input type="radio" name="room-filter" value="+4">
            </label>
        </section>

        <section>
            <p>Banheiros</p>

            <label class="custom-label">
                +1
                <input type="radio" name="room-filter" value="+1">
            </label>

            <label class="custom-label">
                +2
                <input type="radio" name="room-filter" value="+2">
            </label>

            <label class="custom-label">
                +3
                <input type="radio" name="room-filter" value="+3">
            </label>

            <label class="custom-label">
                +4
                <input type="radio" name="room-filter" value="+4">
            </label>
        </section>

        <section>
            <p>Mobiliado</p>

            <label class="custom-label" style="width: 70px; font-size: 13px;">
                Tanto faz
                <input type="radio" name="room-filter" value="Tanto">
            </label>

            <label class="custom-label">
                Sim
                <input type="radio" name="room-filter" value="Sim">
            </label>

            <label class="custom-label">
                Não
                <input type="radio" name="room-filter" value="Não">
            </label>
        </section>

        <section>
            <p>Aceita pets</p>

            <label class="custom-label" style="width: 70px; font-size: 13px;">
                Tanto faz
                <input type="radio" name="room-filter" value="Tanto">
            </label>

            <label class="custom-label">
                Sim
                <input type="radio" name="room-filter" value="Sim">
            </label>

            <label class="custom-label">
                Não
                <input type="radio" name="room-filter" value="Não">
            </label>
        </section>

        <p>Área</p>

        <label for="500">Mínimo 20m²</label>
        <input type="text" id="500" placeholder="20">

        <label for="20">Máximo 1.000m²</label>
        <input type="text" id="20" placeholder="1.000">

        <button class="limpafiltro">Limpar filtro</button>

    </main>

</body>

</html>
