<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faça seu login!</title>
    <link rel="stylesheet" href="../css/login.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.css" />

<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.js"></script>
<script src="js/script.js"></script>

</head>
<body>
   
        <header><img src="../imagens/logo.png" alt="" class="icon"></header>
        <main>
      <p>Entrar com:</p>
      <div class="tiposdelogin">

        <button id="facebook"> <img src="../assets/facebook.svg" alt=""> Entrar com o facebook</button>
        
        <button id="google"> <img src="../assets/google.svg" alt="">  Entrar com o google</button>
      </div>
      <div class="ou">
          <div class="line"></div><h4>ou</h4><div class="line"></div>
      </div>

        <form action="../logado.html">
            <label for="email">Email:</label>
            <input type="email" name="" id="email">
            <label for="senha">Senha:</label>
            <input type="password" name="" id="senha">
            
            <p>Esqueceu a senha?</p>

            <input type="submit" value="ENTRAR"><a href="logado.html"</a>

            <hr>

        </form>

        <span>Não possui uma conta? <a href="/criar.html">Criar</a></span>
           

            <hr>

    </main>
</body>
</html>
