<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página inicial </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/pginicial.css">
</head>
<body>
    <header>
        <label>
            <input type="checkbox">
            <section class="toggle">
                <span class="top_line common"></span>
                <span class="middle_line common"></span>
                <span class="bottom_line common"></span>
            </section>
 
            <section class="slide">
                <h4 class="mnlogo">Migra</h4>
                <ul>
                    <li><div class="line"></div></li>
                    <li><p class="frasemen">Entre para ver seus favoritos, visitas, vagas de empregos e convocações</p></li>
                    <button class="entmn">Entrar</a></button>
                    <li><a href="#"><i class="bi bi-heart"></i> Favoritos/Salvos</a></li>
                    <li><a href="#"><i class="bi bi-bell"></i> Notificações</a></li>
                    <li><a href="#"><i class="bi bi-gear"></i> Configuração</a></li>
                    <li><a href="#"><i class="bi bi-chat"></i> Chat</a></li>
                    <li><a href="#"><i class=""></i> Para empregos</a></li>
                    <li><a href="#"><i class=""></i> Para imóveis</a></li>
                </ul>
            </section>
        </label>
 
        <button class="entrar"><a href="login.html">Entrar</a></button>
        <img src="imagens/logo.png" alt="logo" class="logo">
        <img src="imagens/login.png" alt="MF" class="MF">
    </header>
 
    <main>
       
    <section scr="imagens/mulher.jpg">
 
            <h3 class="futury">Seu futuro em um clique...</h3>
            <br/>
            <a href="#" class="morady">Moradia</a><a href="#" class="morady">Emprego</a>  
            <hr class="linha-branca">
            <br>
   
        <section class="retangulo1">
         <img src="imagens/localização.png" alt="local" class="img1"> <h4 class="city">Cidade</h4>
         <h5 class="busque-city">Busque por cidade</h5>
        </section>
 
        <section class="retangulo2">
          <img src="imagens/casa.jpeg" alt="casa" class="img2"> <h4 class="bairry">Bairro</h4>
          <h5 class="busque-bairry">Busque por bairro</h5>
        </section>
 
        <section class="retangulo3">
          <img src="imagens/dinheiro.jpeg" alt="dinheiro" class="img3"> <h4 class="alugue">Aluguel até</h4>
          <h5 class="escolher-dinheiro">Escolha o valor</h5> <img src="IMAGENS/ceta.svg" alt="ceta" class="cetinha">
          <button class="buscar"><a href="/casas">Buscar</a></button>
        </section>
 
   
    </section>
 
        <br/><br/><br/>
            <section class="verde">
                <h1 class="explo"> Explore um novo mundo de oportunidades.</h1>
                <br/>
                <h3 class="facil">No Migra Fácil você encontra seu emprego dos sonhos e sua casa perfeita, em qualquer lugar do Brasil.</h3>
                <br/>
                <button class="Começe"><a href="#">Comece já</a></button>
                <br/>
            </section>
 
            <img src="imagens/mulher2.jpg" class="pessoa">
 
            <br/><br/>
        <p class="dista"> Moradias de qualidade e empregos gratificantes estão apenas a um clique de distância.</p>
 
        <br/><br/>
 
        <hr class="linha-verde">
 
        <br/><br/>
 
        <img src="imagens/casal.jpeg" alt="" class="casal">
        <br/>
        <h5 class="localiza">Mobiliados para locação</h5>
        <br/>
        <p class="investe">Se você não está pronto para investir em imóveis agora, explore nossas melhores ofertas de aluguel de imóveis mobiliados, prontos para você se mudar sem preocupações</p>
       
        <br/><br/>
        <section class="mulher-celu">
            <h1 class="anuncia">Anuncie no Migra Fácil</h1>
        </section>
        <br>
        <p class="pr">Anuncie suas moradias e vagas de emprego para aqueles que buscam oportunidades únicas.</p>
        <button class="anun"><a href="#">Quero Anunciar!</a></button>
        <br/><br/><br/>
 
        <h2 class="planos">Escolha um plano e pague apenas pelo que contratar</h2>
        <br/><br/>
 
        <section class="quadrado1">
            <h2 class="basico">Básico </h2>
            <h4 class="public">05 publicações/ imovéis</h4>
            <br/>
            <h5 class="acesso">Acesso:</h5>
            <br/>
            <p class="public2">Publique 05 imóveis</p>
            <p class="desta">03 publicações em destaque </p>
            <p class="desta2">Publicações em destaque por 1 mês </p>
            <br/>
            <p class="acesso">Por apenas</p>
            <br/>
            <h2 class="t90">R$ 49,99/mês</h2>
            <br/>
            <button class="assinar"><a href="#">Assinar plano</a></button>
        </section>
        <br/>
 
        <section class="quadrado2">
            <h2 class="basico">Premium</h2>
            <h4 class="public">20 publicações/imóveis </h4>
            <br/>
            <h5 class="acesso">Acesso:</h5>
            <br/>
            <p class="public2">Publique 20 imóveis</p>
            <p class="desta">08 publicações em destaque </p>
            <p class="desta2">Publicações em destaque por 2 meses </p>
            <br/>
            <p class="acesso">Por apenas</p>
            <br/>
            <h2 class="t90">R$ 149,99/mês</h2>
            <br/>
            <button class="assinar"><a href="#">Assinar plano</a></button>
        </section>
        <br/>
        <h2 class="futuro"> Migra Fácil  simplificando sua mudança, construindo seu futuro.</h2>
        <br/><br/>
    </main>
 
    <footer>
            <section class="footer1">
                <h4>Migra <span class="facil">FÁCIL</span></h4>
   
                <ul >
                    <li><span class="negrito">Geral</span></li>
                    <li>Cadastre-se</li>
                    <li>Central de Ajuda</li>
                    <li>Sobre</li>
                    <li>Segurança no Migra fácil</li>
                </ul>
                <ul>
                    <li><span class="negrito">Navegar pelo Migra Fácil</span></li>
                    <li>Vagas</li>
                    <li>Empresas</li>
                    <li>Salários</li>
                    <li>Moradias</li>
                    <li>Indique um imóvel</li>
                </ul>
            </section>
   
            <h4>Migra FÁCIL</h4>
   
            <ul class="footer">
                <li>Acessibilidade</li>
                <li>Política de Privacidade do Migra Fácil</li>
                <li>Política de Direitos Autorais</li>
                <li>Controle de Visitantes</li>
                <li> Contrato  do Usuário</li>
                <li>Política de Cookies</li>
                <li>Política de Marca</li>
                <li>Diretrizes da comunidae</li>
            </ul>
    </footer>
</body>
</html>
 