<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pag inicial </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../css/pginicial.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li> <a href="#">Procurar por</a> 

                    <div class="sub-menu-1">
                        <ul>
                            <li> <a href="#">Procurar por imóveis</a></li>
                            <li> <a href="#">Procurar por vagas</a></li>

                        </ul>
                    </div>

                </li>
                <li> <a href="#">Anunciar</a> 
                    <div class="sub-menu-1">
                        <ul>
                            <li> <a href="#">Anunciar meu imovél</a></li>
                            <li> <a href="#">Anunciar minhas vagas</a></li>

                        </ul>
                    </div>

                </li>
                <li> <a href="#">Sobre nós</a> </li>
                <li> <a href="#">Entrar</a> </li>
        
            </ul>
        </nav>
        <img src="../imagens/logo.png" alt="logo" class="logo">
    </header>

      <main>
        
          <section class="mc"> 
             <h2 class="futury">Faça a mundança sem esforço..</h2>
   
             <div class="wrapper">
                <input type="radio" name="slider" id="tab-1">
                <input type="radio" name="slider" id="tab-2" checked>
                <header>
                  <label for="tab-1" class="tab-1">Moradia</label>
                  <label for="tab-2" class="tab-2">Emprego</label>
                  <div class="slider"></div>
                </header>
                <div class="card-area">
                  <div class="cards">
                    <div class="row row-1">
                      <div class="price-details">
                        <span class="price"></span>
                        <p></p>
                      </div>
                        <section class="retangulo1">
                            <img src="../imagens/localização.svg" alt="local" class="img1"> <h4 class="city">Cidade</h4>
                            <div class="search-container">
                              <input type="text" class="search-input" placeholder="Busque por vagas">
                              </div>
                          </section>
                            <section class="retangulo2">
                            <img src="../imagens/casa.png" alt="casa" class="img2"> <h4 class="bairry">Bairro</h4>
                            <div class="search-container">
                              <input type="text" class="search-input" placeholder="Busque por vagas">
                              </div>
                           </section>
                         <section class="retangulo3">
                            <img src="../imagens/cash.svg" alt="dinheiro" class="img3"> <h4 class="alugue">Aluguel até</h4>
                            <h5 class="escolher-dinheiro">Escolha o valor</h5> <img src="../IMAGENS/ceta.svg" alt="ceta" class="cetinha">
                            <button class="buscar"><a href="anunciante.html">Buscar</a></button>
                          </section>
                      </ul>
                    </div>
                    <div class="row">
                      <div class="price-details">
                        <span class="price"></span>
                        <p></p>
                      </div>
                      <section class="retangulo1">
                        <img src="../imagens/mala-de-viagem.png" alt="local" class="img1"> <h4 class="city">Vagas</h4>
                        <div class="search-container">
                          <input type="text" class="search-input" placeholder="Busque por vagas">
                          </div>
                      </section>
                        <section class="retangulo2">
                        <img src="../imagens/localização.svg" alt="casa" class="img2"> <h4 class="bairry">Cidade</h4>
                        <div class="search-container">
                          <input type="text" class="search-input" placeholder="Busque por cidade">
                          </div>
                       </section>
                     <section class="retangulo3">
                        <img src="../imagens/cash.svg" alt="dinheiro" class="img3"> <h4 class="alugue">Salario até</h4>
                        <h5 class="escolher-dinheiro">Escolha o valor</h5> <img src="../IMAGENS/ceta.svg" alt="ceta" class="cetinha">
                        <button class="buscar"><a href="#">Buscar</a></button>
                      </section>
                    </div>
                  </div>
            

    
           </section>

            <br/><br/><br/>
            <section class="verde">
                <h1 class="explo"> Explore um novo mundo de oportunidades.</h1>
                <br/>
                <h3 class="facil"> Facilitamos seu processo de mundanças com serviços confiaveis. aproveite uma migração sem estresse.<h3>
                <br/>
                <button class="Começe"><a href="#">Comece já</a></button>
                <br/>
            </section>


            <br/><br/>
          <h2 class="dista"> Moradias de qualidade e empregos gratificantes estão apenas a um clique de distância.</h2>
        <br/><br/>
        <section class="quadro1">
            <img src="../imagens/casa.png" class="icon">
            <h4 class ="imoveis">Para imoveis </h4>
        </section>
        <section class="quadro2">
            <img src="../imagens/mala-de-viagem.png" class="icon">
            <h4 class ="imoveis">Para empregos </h4>
        </section>
        <section class="quadro3">
            <img src="../imagens/iphone.png" class="icon">
            <h4 class ="imoveis">Para anunciante </h4>
        </section>
        <br/><br/>
        <br/><br/>
        <br/><br/>
            <h1 class="anuncia">Anuncie no Migra Fácil</h1>
            <h5 class="pr">Anuncie seu imóvel ou sua vaga para quem busca oportunidades</h5>
            <button class="anun"><a href="#">Anuncie</a></button>
            <br/><br/>
            <img src="../imagens/mulheranun.jfif" class="mulher-anun">
           <br/><br/><br/>

        <h4 class="planos">Escolha um plano e pague apenas pelo que contratar</h4>
        <br/><br/>
        <br/><br/>

        <section class="quadrado1">
            <h2 class="basico">Básico </h2>
            <h4 class="public">05 publicações/ imovéis</h4>
            <br/>
            <h5 class="acesso">Acesso:</h5>
            <br/>
            <p class="public2">Publique 05 imóveis</p>
            <p class="desta">03 publicações em destaque </p>
            <p class="desta2">Publicações em destaque por 1 a 2 mês </p>
            <br/>
            <p class="acesso">Por apenas</p>
            <br/>
            <h2 class="t90">R$ 49,99/mês</h2>
            <br/>
            <button class="assinar"><a href="#">Assinar plano</a></button>
        </section>
        <br/>

        <section class="quadrado2">
            <h2 class="basico">Premium</h2>
            <h4 class="public">20 publicações/imóveis </h4>
            <br/>
            <h5 class="acesso">Acesso:</h5>
            <br/>
            <p class="public2">Publique 20 imóveis</p>
            <p class="desta">08 publicações em destaque </p>
            <p class="desta2">Publicações em destaque por 4 a 5 meses </p>
            <br/>
            <p class="acesso">Por apenas</p>
            <br/>
            <h2 class="t90">R$ 149,99/mês</h2>
            <br/>
            <button class="assinar"><a href="#">Assinar plano</a></button>
        </section>
        <br/>
        <section class="quadrado3">
          <h2 class="basico">Clássico</h2>
          <h4 class="public">5 publicações/vagas </h4>
          <br/>
          <h5 class="acesso">Acesso:</h5>
          <br/>
          <p class="public2">Publique 5 vagas</p>
          <p class="desta">1  publicação em destaque </p>
          <p class="desta2">publicação em destaque por 7 dias </p>
          <br/>
          <p class="acesso">Por apenas</p>
          <br/>
          <h2 class="t90">R$ 49,99/mês</h2>
          <br/>
          <button class="assinar"><a href="#">Assinar plano</a></button>
      </section>
      <br/>
      <section class="quadrado4">
        <h2 class="basico">Premium</h2>
        <h4 class="public">20 publicações/vagas </h4>
        <br/>
        <h5 class="acesso">Acesso:</h5>
        <br/>
        <p class="public2">Publique 20 vagas</p>
        <p class="desta">08 publicações em destaque </p>
        <p class="desta2">Publicações em destaque por 15 dias </p>
        <br/>
        <p class="acesso">Por apenas</p>
        <br/>
        <h2 class="t90">R$ 149,99/mês</h2>
        <br/>
        <button class="assinar"><a href="#">Assinar plano</a></button>
      </section>
        <br/><br/>
    </main>

    <footer>
      <div id="footer_content">
          <div id="footer_contacts">
              <img src="../imagens/logo.png" alt="logo Migra" class="logo-migra">
              <p>It's all about your dreams.</p>

              <div id="footer_social_media">
                  <a href="#" class="footer-link" id="Instagram">
                      <i class="fa-brands fa-instagram"></i>
                  </a>

                  <a href="#" class="footer-link" id="Facebook">
                      <i class="fa-brands fa-facebook-f"></i>
                  </a>

                  <a href="#" class="footer-link" id="TikTok">
                    <i class="fa-brands fa-tiktok"></i>
                  </a>
              </div>
          </div>
          
          <ul class="footer-list">
              <li>
                  <h3>Geral</h3>
              </li>
              <li>
                  <a href="#" class="footer-link">Cadastra-se</a>
              </li>
              <li>
                  <a href="#" class="footer-link">Central de Ajuda</a>
              </li>
              <li>
                <a href="#" class="footer-link">Sobre</a>
              </li>
              <li>
                  <a href="#" class="footer-link">Segurança no Migra Fácil</a>
              </li>
          </ul>

          <ul class="footer-list">
              <li>
                  <h3>Navegue pelo Migra Fácil</h3>
              </li>
              <li>
                  <a href="#" class="footer-link">Empresas</a>
              </li>
              <li>
                  <a href="#" class="footer-link">Vagas</a>
              </li>
              <li>
                  <a href="#" class="footer-link">Salários</a>
              </li>
              <li>
                <a href="#" class="footer-link">imovéis</a>
             </li>
             <li>
              <a href="#" class="footer-link">Indique um imovél</a>
             </li>
          </ul>

          <ul class="footer-list">
            <li>
                <h3>Migra Fácil</h3>
            </li>
            <li>
                <a href="#" class="footer-link">Acessibilidade</a>
            </li>
            <li>
                <a href="#" class="footer-link">Política de Privacidade do Migra Fácil</a>
            </li>
            <li>
                <a href="#" class="footer-link">Política de Cookies</a>
            </li>
        </ul>

      <div id="footer_copyright">
          &#169
          2023 all rights reserved
      </div>
  </footer>
</body>
</html>
